body {
	background: navy;
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper {
	margin: 0;
	padding: 0px 72px;
	border-bottom: 1px solid #e3e3e3;
}

header {
	margin: 0 auto;
	height: 160px;
	max-width: 1200px;
}

div#logo-holder {
	float: left;
}

div#logo-holder img {
	margin-top: 60px;
	width: 110px;
	height: 46px;
}

div#nav-wrapper {
	float: right;
}

header nav ul {
	width: 100%;
	padding: 60px 45px;
	display: inline-block;
	list-style: none;
}

header nav li {
	float: left;
	padding: 10px 2px;
	margin-left: 19px;
	margin-right: 19px;
}

header nav a {
	color: #212121;
	text-decoration: none;
	font-family: Arial;
	font-style: normal;
	font-size: 15px;
	line-height: 13px;
	letter-spacing: 0.14em;
	padding: 2px;
}

.container {
	order: 1px solid red;
	position: relative;
	width: 960px;
	height: 100%;
	margin: 5px auto;
	padding: 0;
}

div#work-heading {
	margin: 0 auto;
}

div#work-heading p {
	font-family: Arial;
	font-style: normal;
	font-size: 23px;
	line-height: 36px;
	padding: 0 15%;
	letter-spacing: 0.05em;
	text-align: center;
	display: inline-block;
}

div#row-1 {
	
}

div#one img {
	padding-top: 25px;
	padding-left: 15px;
	float: left;
	width: 589px;
	height: 397px;
}

div#two img {
	padding-top: 25px;
	padding-right: 15px;
	float: right;
	width: 320px;
	height: 397px;
}

div#row-2 {
	
}

.threefour {
	order: 1px solid red;
	float: left;
}

div.threefour li {
	list-style: none;
	margin-left: 15px;
	margin-top: 15px;
}

div.threefour img{
	float: left;
	width: 456px;
	height: 298px;
	padding-bottom: 15px;
}

div#five {
	order: 1px solid blue;
	float: right;
	padding-top: 15px;
}

div#five img {
	width: 455px;
	height: 613px;
	margin-right: 15px;
}

div#row-3 {
	clear: both;
}

div#six {
	float: left;
}

div#six img {
	width: 296px;
	height: 394px;
	margin-left: 15px;
}

div#seven {
	float: right;
}

div#seven img {
	width: 616px;
	height: 397px;
	margin-right: 15px;
}

footer {
	border-top: 1px solid #e3e3e3;
	width: 960px;
	clear: both;
	margin-top: 200;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer ul {
	list-style: none;
	text-align: center;
}

footer li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	letter-spacing: 0.05em;
}

footer #left {
	border-right: 1px black solid;
}

footer #right {
	border-left: 1px black solid;
}

footer p {
	text-align: center;
	margin-bottom: 10px;
	line-height: 10px;
}

